/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    line-height: 1.6;
    color: #333;
    background-color: #f1e4e4;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px; /* Apply padding on both sides */
}

/* Header */
header {
    background-color: #b78583;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    transition: all 0.3s ease; 
    position: relative; 
}

nav ul li a:hover {
    color: #e7c2c2;
    transition: all 0.3s ease-in-out; 
}


#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px; 
}

.intro {
    display: flex;
    align-items: center;
    width: 100%;
}

.intro-text {
    flex: 1;
}

.intro-text h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    color: #9f7d7d;
    margin-bottom: 10px;
    text-align: right;
}

.intro-text p {
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    color: #8e6765;
    text-align: right;
}

.highlight {
    color: #9f7d7d; 
    transition: color 0.3s ease; 
}

.highlight:hover {
    color: #6d5c5c;
}

.intro-photo {
    flex: 1;
    text-align: right;
}

.intro-photo img {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border: 5px solid #d0a5a7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background-color: #b78583;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 0.9rem;
}
